<a href="https://colab.research.google.com/github/SangeethaKumari/AI-Learning-Projects/blob/main/Copy_of_Python_PreWork_Session_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/4_RGB_McCombs_School_Brand_Branded.png" width="300" height="100"/>
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>

<center><font color='blue'><font size="8">Getting Started with Python</font></center>

<center><img src="https://wallpapercave.com/wp/wp3105542.jpg" width="720"></center>

<H1 align='left'><font color='blue'><font size="">Session Agenda</font></H1>

<font size='4'>
<li> Printing Statements<br>
<li> Introduction to variables<br>
<li> Data Types: String, Integers and Float<br>
<li> Basic Operators<br>
<li> Data Structures: List<br>
<li>Introduction to Conditional Statements: if,else, elif<br>

<H1 align='left'><font color='Blue'><font size="">Introduction</font></H1>

<font size="4">Automobiles are moving towards global production networks. With variability in automobile models, there is a lot of uncertainty in the demand. It requires better visibility towards car performance for investments as well as operation and to avoid the risk of inventory stock-outs.<br>
<br>
Cars Sons Ltd. is an automobile incorportated on February, 1996. The company  offers a full range of cars from entry-level to stylish Hatchback along with Sedans, SUVs and MUVs. The company is engaged in the business of manufacturing, purchase and sale of motor vehicles and spare parts (automobiles).<br>
<br>
The company has booked a turnover of around $12.5mn last year. The company is looking forward to expanding its range of products and services and will introduce new types of the automobile in the market to make a people's car for the middle class.<br>
<br>
You have been hired as a Data Scientist in Cars Sons Ltd. The data for the company products have been provided and are required to create structured data which includes the various attributes of the product along with the sales figures
</font>

# <font color='Blue'>Print Statements

<font color='blue'>*To start with, let's print some details of the company*

In [ ]:
print('The name of the company is Cars Sons Ltd.')

The name of the company is Cars Sons Ltd.

In [ ]:
print("The name of the company is Cars Sons Ltd.")

The name of the company is Cars Sons Ltd.

In [ ]:
print(The)

NameError: name 'The' is not defined

In [ ]:
print(1996)

1996

In [ ]:
print('1996')

1996

**The print() function prints the specified message to the screen or other standard output device.**

In [ ]:
print('The year the company was established is',1996)
print('The year the company was established is', 1996)
print('The year the company was established is',              1996)
print('The year the company was established is'                   ,              1996)

The year the company was established is 1996
The year the company was established is 1996
The year the company was established is 1996
The year the company was established is 1996

In [ ]:
# https://peps.python.org/pep-0008/

In [ ]:
print('Total turnover of the company this year in Million $ is',12.5)

Total turnover of the company this year in Million $ is 12.5

In [ ]:
print('The year the company was established is',1996,sep=":-")

The year the company was established is:-1996

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Print your details such as name, years of experience, etc. in the same way as shown above
print("My name is...")
print("I have ... years of experience")

My name is...
I have ... years of experience

 **Since these values are not stored, they cannot be used in future. Therefore, we need to store them in some objects, which are known as *variables*.**

# <font color='Blue'>Variables

<font color='blue'>*Let's create a variable and store the name of the company in it.*

In [ ]:
print("I work for", "ABC Sons Ltd.")
print("My employer is", "Cars Sons Ltd.")

I work for ABC Sons Ltd.
My employer is Cars Sons Ltd.

In [ ]:
company_name = "ABC Sons Ltd."

print("I work for", company_name)
print("My employer is", company_name)

I work for ABC Sons Ltd.
My employer is ABC Sons Ltd.

In [ ]:
company_name = "Cars Sons Ltd." #variable is assigned and a value is stored in the variable
print('The name of the company is',company_name) #to print a statement to the screen, print command is used

The name of the company is Cars Sons Ltd.

In [ ]:
print(company_name)

Cars Sons Ltd.

**Variables are containers for storing any data values. A variable is created the moment you first assign a value to it.**
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
* Variable names are case-sensitive (age, Age and AGE are three different variables)

<font color='blue'>*Similarly we can store the year the company established in another variable*

In [ ]:
year_started=1996
print('The year the company established is',year_started)

The year the company established is 1996

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Create a variable to store the Total turnover of the company for this year and print the results
total_turnover = 12.5
print("The total turnover of the company in Million $ is", total_turnover)

The total turnover of the company in Million $ is 12.5

In [ ]:
# Formating String/F-string

print(f"The total turnover of the company in Million $ is {total_turnover}")

The total turnover of the company in Million $ is 12.5

# <font color='Blue'> Datatypes

In [ ]:
# we can also check the type of variables using type() function
print('The type of variables in company name is',type(company_name))

The type of variables in company name is <class 'str'>

**Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. It can be an integer variable, a string variable, etc.**

**Any character which is placed between quotation marks is known as a *String*. Quotation marks can be single or double-quotes.**<br>
For example in the above command characters 'The name of the company' is under quotation marks and will be considered as *String*. The value 'Cars Sons Ltd.' stored in the variable named company_name is also a *String* because it is written within quotation marks

**Integer - Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.**<br>
**Float - float, or "floating-point number" is a number, positive or negative, containing one
or more decimals. Float can also be scientific numbers with an "e" to indicate the power
of 10.**

In the above cells, we have printed different values of different data types.

There are various data types in Python, such as:<br>
1. Numeric - This is further divided into:

    (a) Integer (int) - 1996    
    (b) Float (float) - 12.5
    

2. String (str) - 'Cars Sons Ltd'</font>

In [ ]:
print('The type of variables in year started is',type(year_started))

The type of variables in year started is <class 'int'>

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Check the data type of the variable you created above for the Total Turnover of the company
print(type(total_turnover))

<class 'float'>

# <font color='Blue'> Basic Operators

<font color='blue'>*Sales team has provided you with the details of the cars including the prices of each type of car.They have received an order of 10 Sedan cars and they need to evaluate total sales for this order.<br>To perform this, we can use Basic Arithmetic operators in Python*

**Python allows you to perform various operation on variables and values. You can also manipulate the values present in the variables**

In [ ]:
# Suppose the price of one sedan car is $0.2mn
price_sedan= 0.2 # variable to store the price of one Sedan car
print('Price of 1 Sedan Cars in Million $ is',price_sedan)
price_updated=price_sedan + price_sedan #By using Addition operator we have calculated the price of 2 sedan cars
print('Price of 2 Sedan Cars in Million $ is',price_updated)

Price of 1 Sedan Cars in Million $ is 0.2
Price of 2 Sedan Cars in Million $ is 0.4

**Python provides various operators for performing different types of caluclation on variables and values.<br> Below are some of the operators which are commonly used in python operations:**

|Operator|Symbol in Python|Description|
|---|---|---|
|Addition| +|Adds values on either side of the operator|
|Subtraction|-|Subtracts right hand operand from left hand operand|
| Multiplication| *|Multiplies values on either side of the operator
| Division| /|Divides left hand operand by right hand operand
|Exponent|**|Performs exponential (power) calculation on operators
|Modulus|%|Divides left hand operand by right hand operand and returns remainder

**Let's get our hands dirty on some operators...**

In [ ]:
price_final= price_sedan * 10 #By using Multiplication operator we have calculated the sales for the final order of 10 cars
print('Price of 10 Sedan Cars in Million $ is',price_final)

Price of 10 Sedan Cars in Million $ is 2.0

**Let's try to combine multiple operators...**

In [ ]:
(10 + 2) * 3

36

<font color='blue'>*One of the most critical indicators automotive businesses need to be aware of is downtime. You have been provided with some details from the production department about the downtime hours for last month. To prepare a report you need to include the Average Downtime for the last month.*

*Average Downtime = (downtime hours in a time period) ÷ (total time available to produce vehicles in the same time period) x 100*

In [ ]:
downtime_hours= 30 #downtime hours in a time period
total_time= 240 #total time available to produce vehicles in the same time period
average_downtime= (downtime_hours / total_time) * 100
print('The Average Downtime Hours for last month is', average_downtime)

The Average Downtime Hours for last month is 12.5

### <font color='Blue'> *Your turn to code!* </font>

<font color='blue'>*The safety of the workers in any business is always an issue of utmost importance, but in the automotive industry, safety incidents are a common issue that must continually be measured carefully to move toward a safer workplace.<br>Therefore, the Safety officer has provided you with the data related to the safety incidents and you need to calculate the Safety Incidents per employee for the last month*

*Safety incidents per employee = (number of safety incidents in a time period) ÷ (number of employees working during the time period)*

In [ ]:
#Calculate safety incidents per employee
safety_incidents= 44 #number of safety incidents in a time period
total_employees= 1568 #number of employees working during the time period
safety_per_employee= safety_incidents/total_employees

In [ ]:
print(safety_per_employee)

0.02806122448979592

In [ ]:
print(round(safety_per_employee, 4))

0.0281

# <font color='Blue'> Data Structures

<font color='blue'>*The Marketing team has given you the type of products the company is manufacturing. To keep things in order, let's store all the data in a variable.<br> Since we already know how to store values in a variable, let's start by storing the type of cars manufactured.*

In [ ]:
car_type_1 = 'Sedan'
car_type_2 = 'Hatchback'
car_type_3 = 'SUV'
car_type_4 = 'MUV'

<font color='blue'>*But storing each value in a different variable will be a very lengthy process in case the data is huge. Therefore, we need a way to store multiple values in a single variable.*

<font color='blue'>For this, **list** data structure can be used.

## <font color='Blue'>List

In [ ]:
cars_type= ["Sedan", "Hatchback", "SUV", "MUV"]
print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'MUV']

In [ ]:
print(type(cars_type))

<class 'list'>

**A list in Python is an ordered group of items or elements, and these list elements don't have
to be of the same type. Python Lists are mutable objects that can change their values.<br>
<br>A list contains items separated by commas and enclosed within square brackets.
List indices, like strings, start at 0 at the beginning of the list and work their way from -1 at the end.**

<font color='blue'>*All types of cars are now being stored in a single variable. Similarly, we can do the same process for other attributes as well.*

In [ ]:
mileage= [15, 19, 12, 10]
print('Mileage:',mileage)

Mileage: [15, 19, 12, 10]

In [ ]:
print(mileage[3])

10

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Create a list that contains the values for sales that happened to date. The values are 200, 652, 412, 123 for "Sedan", "Hatchback", "SUV", "MUV" respectively
# print those values as well
sales = [200, 652, 412, 123]
print('Sales:',sales)

Sales: [200, 652, 412, 123]


**You can also do modifications and access the elements in the list as lists are mutable.**

<font color='blue'>*Due to the less demand for MUV cars in the market, the company has decided to stop the production of these types of cars and instead introduce a new type in the market. <br>As per the reports received from the Marketing team, the data shows that demand for Mini-Van is high among a significant amount of population and hence, company has decided to launch its new Mini-vans in the market this month.*

In [ ]:
print(cars_type)

['Sedan', 'Hatchback', 'SUV', 'MUV']

In [ ]:
cars_type.remove("MUV") # remove() method removes the first matching element from the list, value 'MUV' is removed from the variables cars_type

print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV']

In [ ]:
cars_type.append("Mini_van") # append() method in python adds a single item to the existing list, it adds the new type Mini-van to the list variable cars_type

print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'Mini_van']

**The list index starts with 0 in Python. So, the index value of the 1st element is 0, similarly, for the 2nd and 3rd element, it is 1 and 2 respectively. And so on...**

In [ ]:
print(cars_type[-3])

Hatchback

In [ ]:
print(cars_type[0:2])

['Sedan', 'Hatchback']

<img align='right' src=https://files.realpython.com/media/t.c11ea56e8ca2.png width="1000" height="400" />

<font color='blue'>*You still have the data associated with the MUV type of cars and new data for the Mini-vans. So instead of deleting the previous data and adding the new data, you can also replace it with new data from Minivan. Therefore instead of using the remove and append function, you can also modify the elements by accessing the index values.*

In [ ]:
mileage[3]= 9 # modifying the mileage data [replacing 3rd index position i.e. 10 with a new value 9]
print('Mileage:',mileage)

Mileage: [15, 19, 12, 9]

<font color='blue'>*Instead of getting a single element, you can also get a section of list by slicing the list*

In [ ]:
cars_type[0:2] # will return the first two elements of cars_type which are indexed as 0 and 1.
              #NOTE- [a:b], this will take elements from 'a' to 'b-1'

['Sedan', 'Hatchback']

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
print(sales)

[200, 652, 412, 123]

In [ ]:
# Remove the last element from the variable you created for sales to date using negative indexing
del sales[-1]

In [ ]:
print(sales)

[200, 652, 412]

In [ ]:
mileage

[15, 19, 12, 9]

In [ ]:
# print the last two elements of the 'mileage' variable
print(mileage[2:4])

[12, 9]

<font color='blue'>*An investor has decided to visit the company and has asked you about the car types and sales to date.*

In [ ]:
# To get the number of cars produced in company, you find the length of list 'cars'
print('The total number of car types manufactured are',len(cars_type))

The total number of car types manufactured are 4

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Calculate the total sales that happened to date using the variable you created above.
#HINT: you can use the built-in function 'sum' to calculate the total sales
print(sum(sales))

1264

# <font color='Blue'>Conditional Statements

**Conditional Statement in Python perform different actions depending on whether a specific condition evaluates to true or false.<br>if-else are the conditional statements**

<font color='blue'>*You have been given the data of car ratings from the customers. Based on this you need to write a program that gives car performance on inputting the car name.*

In [ ]:
a = 30
b = 30

if a > b:
  print("A is greater")
  print("....")

elif a < b:
  print("A is smaller")

else:
  print("Both are equal")

Both are equal

In [ ]:
# stored the ratings of each car in lists

car_names_list = ['Sedan_1', 'Sedan_2', 'Hatchback_1', 'Hatchback_2', 'SUV_1', 'SUV_2', 'MUV_1', 'MUV_2']
car_ratings_list = [64, 49, 59, 78, 32, 84, 21, 31]

print('Names of each car:', car_names_list)
print('Ratings of each car:', car_ratings_list)

Names of each car: ['Sedan_1', 'Sedan_2', 'Hatchback_1', 'Hatchback_2', 'SUV_1', 'SUV_2', 'MUV_1', 'MUV_2']
Ratings of each car: [64, 49, 59, 78, 32, 84, 21, 31]

## <font color='Blue'> if-else

In [ ]:
# a car is said to be well-performing if it's rating is greater than 50
# check whether Sedan_1 is a good performer

# we first find the position of Sedan_1 in the names list
idx = car_names_list.index('Sedan_1')

if (car_ratings_list[idx] <= 50): # checking if it's lower than 50
  print("Sedan_1 is not performing well")
else:
  print("Sedan_1 performs well")

Sedan_1 performs well

**Python if Statement is used for decision-making operations. It contains a body of code which runs only when the condition given in the if statement is true. If the condition is false, then the optional else statement runs which contains some code for the else condition.**

### <font color='Blue'> *Your turn to code!* </font>

In [ ]:
# Create a conditional statement to check the performance for MUV_1
idx = car_names_list.index('MUV_1')
print(idx)

6

In [ ]:
if car_ratings_list[idx] <= 50:
  print('MUV_1 is not performing well')
else:
  print("MUV_1 is performing well")

MUV_1 is not performing well

## <font color='Blue'> Multiple if-else

In [ ]:
idx1 = car_names_list.index('Sedan_1')
idx2 = car_names_list.index('SUV_1')
print(idx1,idx2)

0 4

In [ ]:
car_ratings_list

[64, 49, 59, 78, 32, 84, 21, 31]

In [ ]:
# check if Sedan_1 and SUV_1 are both good performers or not

# first we find the positions of the two cars in the names list
idx1 = car_names_list.index('Sedan_1')
idx2 = car_names_list.index('SUV_1')

if(car_ratings_list[idx1] <= 50 and car_ratings_list[idx2] <= 50):
  print("Both are not performing well")

elif(car_ratings_list[idx1] <= 50 and car_ratings_list[idx2] > 50):
  print("SUV_1 performs well, but Sedan_1 dosen't")

elif(car_ratings_list[idx1] > 50 and car_ratings_list[idx2] <= 50):
  print("Sedan_1 performs well, but SUV_1 dosen't")

else:
  print("Sedan_1 and SUV_1 both perform well")

Sedan_1 performs well, but SUV_1 dosen't

**By using “elif” condition, you are telling the program to print out the third condition or possibility when the other condition goes wrong or incorrect.**

In [ ]:
sal

#<font color='Blue'>Summary

- Understand how to create variables, store data in variables, and check the data types
- Performed basic arithmetic operations and storing data in lists
- Performed basic comparison of variables by using different operators
- Creating conditional statements by passing single conditions as well as multiple conditions

<font size=6 color='blue'>Power Ahead!</font>
___